version: '3'
services:
  nginx:
    depends_on: 
      - api
      - client
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./nginx
    ports: 
      - '3080:80'
  api:
    build: 
      dockerfile: Dockerfile
      context: ./server
    volumes:
      - /app/node_modules
      - ./server:/app
  client:
    stdin_open: true
    build:
      dockerfile: Dockerfile
      context: ./client
    volumes: 
      - /app/node_modules
      - ./client:/app 